
<!DOCTYPE html>
<html id="html" lang="en" data-textdirection="ltr">
<head>
    {# WALLPAPER #}
    {% if dm.settings.wallpaper %}
        <style>
            body {
            {% if dm.settings.wallpaper.startswith('#') or dm.settings.wallpaper.startswith('var(') %}
                background-color: {{ dm.settings.wallpaper }} !important;
            {% else %}
                background-image: url("static/user_assets/wallpapers/{{ dm.settings.wallpaper }}");
            {% endif %}
                background-size: cover;
                background-attachment: fixed;
            }
        </style>
    {% endif %}

    {# META #}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    {% if title %}
        <title>{{ title }} - {{ dm.settings.window_title }}</title>
    {% else %}
        <title>{{ dm.settings.window_title }}</title>
    {% endif %}
    <link rel="apple-touch-icon" href="static/images/favicon/apple-touch-icon-152x152.png?v=2">
    <link rel="shortcut icon" type="image/x-icon" href="static/images/favicon/favicon-32x32.png?v=2">


    {# CSS SOURCES (LISTED IN portfolio.source_management.sources #}
    {% block page_vendor_css %}{% endblock page_vendor_css %}
    {{ process_local_css_sources(global_bundle=True) }}
    {% block page_lvl_css %}{% endblock page_lvl_css %}

    {# global.css from user's config folder #}
    <link rel="stylesheet" type="text/css" href="static/user_assets/css/global.css?v={{ + range(1, 9999)|random|string }}">
</head>

<body id="body"
      class="user-select-none scrollbar">

{% block header %}{% endblock header %}

{% block sidenav %}{% endblock sidenav %}

{% block content %}{% endblock content %}

{% block footer %}{% endblock footer %}

{# JS SOURCES (LISTED IN portfolio.source_management.sources #}
{% block page_vendor_js %}{% endblock page_vendor_js %}
{{ process_local_js_sources(global_bundle=True) }}
{% block page_lvl_js %}{% endblock page_lvl_js %}

{# global.js from user's config folder #}
<script src="static/user_assets/js/global.js"></script>
</body>

</html>
