/* Brightness (light mode/dark mode) */
:root {
    --theme-background: #EBEEF0;
    --theme-surface: #fff;
    --theme-surface-1: #fcfcfc;
    --theme-surface-2: #e0e0e0;
    --theme-color: #2c2f3a;
    --theme-grey: #9e9e9e;
    --theme-primary: #ff9800;
    --theme-on-primary: #fff;
    --theme-secondary: #3399FF;
    --theme-on-secondary: #2c2f3a;
}
[data-theme="dark"]{
    --theme-background: #1c1c1c;
    --theme-surface: #2f2f2f;
    --theme-surface-1: #434343;
    --theme-surface-2: #575757;
    --theme-color: #fcfcfc;
    --theme-grey: #adb5bd;
}

/* Primary color options */
[data-primary="red"] {
    --theme-primary: #f44336;
}
[data-primary="pink"] {
    --theme-primary: #e91e63;
}
[data-primary="purple"] {
    --theme-primary: #9c27b0;
}
[data-primary="deepPurple"] {
    --theme-primary: #673ab7;
}
[data-primary="indigo"] {
    --theme-primary: #3f51b5;
}
[data-primary="blue"] {
    --theme-primary: #2196f3;
}
[data-primary="lightBlue"] {
    --theme-primary: #03a9f4;
    --theme-on-primary: #2c2f3a;
}
[data-primary="cyan"] {
    --theme-primary: #00bcd4;
    --theme-on-primary: #2c2f3a;
}
[data-primary="teal"] {
    --theme-primary: #009688;
}
[data-primary="green"] {
    --theme-primary: #4caf50;
    --theme-on-primary: #2c2f3a;
}
[data-primary="lightGreen"] {
    --theme-primary: #8bc34a;
    --theme-on-primary: #2c2f3a;
}
[data-primary="lime"] {
    --theme-primary: #cddc39;
    --theme-on-primary: #2c2f3a;
}
[data-primary="yellow"] {
    --theme-primary: #ffeb3b;
    --theme-on-primary: #2c2f3a;
}
[data-primary="amber"] {
    --theme-primary: #ffc107;
    --theme-on-primary: #2c2f3a;
}
[data-primary="deepOrange"] {
    --theme-primary: #ff5722;
}
[data-primary="brown"] {
    --theme-primary: #795548;
}
[data-primary="grey"] {
    --theme-primary: #9e9e9e;
    --theme-on-primary: #2c2f3a;
}
[data-primary="blueGrey"] {
    --theme-primary: #607d8b;
}

/* Secondary color options */
[data-secondary="red"] {
    --theme-secondary: #f44336;
}
[data-secondary="pink"] {
    --theme-secondary: #e91e63;
}
[data-secondary="purple"] {
    --theme-secondary: #9c27b0;
}
[data-secondary="deepPurple"] {
    --theme-secondary: #673ab7;
}
[data-secondary="indigo"] {
    --theme-secondary: #3f51b5;
}
[data-secondary="blue"] {
    --theme-secondary: #2196f3;
}
[data-secondary="lightBlue"] {
    --theme-secondary: #03a9f4;
    --theme-on-secondary: #2c2f3a;
}
[data-secondary="cyan"] {
    --theme-secondary: #00bcd4;
    --theme-on-secondary: #2c2f3a;
}
[data-secondary="teal"] {
    --theme-secondary: #009688;
}
[data-secondary="green"] {
    --theme-secondary: #4caf50;
    --theme-on-secondary: #2c2f3a;
}
[data-secondary="lightGreen"] {
    --theme-secondary: #8bc34a;
    --theme-on-secondary: #2c2f3a;
}
[data-secondary="lime"] {
    --theme-secondary: #cddc39;
    --theme-on-secondary: #2c2f3a;
}
[data-secondary="yellow"] {
    --theme-secondary: #ffeb3b;
    --theme-on-secondary: #2c2f3a;
}
[data-secondary="amber"] {
    --theme-secondary: #ffc107;
    --theme-on-secondary: #2c2f3a;
}
[data-secondary="deepOrange"] {
    --theme-secondary: #ff5722;
}
[data-secondary="brown"] {
    --theme-secondary: #795548;
}
[data-secondary="grey"] {
    --theme-secondary: #9e9e9e;
    --theme-on-secondary: #2c2f3a;
}
[data-secondary="blueGrey"] {
    --theme-secondary: #607d8b;
}

/* Theme Classes */
/* theme text classes/overrides */
.text-theme {
    color: var(--theme-color);
}
.text-grey {
    color: var(--theme-grey) !important;
}
.text-primary {
    color: var(--theme-primary) !important;
}
.text-secondary {
    color: var(--theme-secondary) !important;
}
.text-on-primary {
    color: var(--theme-on-primary) !important;
}
.text-on-secondary {
    color: var(--theme-on-secondary) !important;
}

/* theme background classes/overrides */
.bg {
    background-color: var(--theme-background) !important;
}
.bg-theme-grey {
    background-color: var(--theme-grey) !important;;
}
.bg-surface {
    background-color: var(--theme-surface) !important;
}
.bg-surface-1 {
    background-color: var(--theme-surface-1) !important;
}
.bg-surface-2 {
    background-color: var(--theme-surface-2) !important;
}
.bg-primary {
    background-color: var(--theme-primary) !important;
}
.bg-secondary {
    background-color: var(--theme-secondary) !important;
}
.bg-on-primary {
    color: var(--theme-on-primary) !important;
}
.bg-on-secondary {
    color: var(--theme-on-secondary) !important;
}

/* Bootstrap defaults override */
.form-control {
    border: 1px solid var(--theme-surface);
}
.form-control:focus {
    border-color: var(--theme-primary);
}
.input-group .form-control {
    color: var(--theme-grey);
}
.input-group .form-control:focus {
    color: var(--theme-color) !important;
}
.input-group-text {
    border: 1px solid var(--theme-primary);
}
.list-group-item {
    color: var(--theme-color);
}
.list-group-item:hover {
    color: var(--theme-primary);
}
.modal-content {
    background-color: var(--theme-surface);
}
.modal-header {
    border-bottom: 1px solid var(--theme-surface-1);
}
.dropdown-menu {
    background: var(--theme-surface);
}
.dropdown-header {
    color: var(--theme-grey);
}
.dropdown-item {
    color: var(--theme-color);
}
.dropdown-item:hover {
    background-color: var(--theme-surface-1);
    color: var(--theme-color);
}
.close {
    color: var(--theme-color);
    opacity: .5;
}
.close:hover {
    color: var(--theme-color);
    opacity: 1;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
body {
    scrollbar-width: thin;
    scrollbar-color: var(--theme-primary);
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--theme-primary);
    border-radius: 6px;
    border: 3px solid transparent;
}