{% macro DashboardCard(dashboard_card) %}
    {{ OnPressStart(dashboard_card) }}
    <div class="card-body"
         style="padding: {{ dashboard_card.card.get('padding', '') }};">

        {# Icon #}
        {% if dashboard_card.icon and dashboard_card.icon.image %}
            {{ OnPressStart(dashboard_card.icon) }}
            <div style="display: inline-block; width: auto">
                <div style="display: flex; justify-content: center; align-items: center; {{ dashboard_card.icon.css }}"
                     class="image-container {{ dashboard_card.icon.classes }}">
                    {{ Image(dashboard_card.icon.image, classes='text-primary') }}
                </div>
            </div>
            {{ OnPressEnd(dashboard_card.icon) }}
        {% endif %}

        {# Title #}
        {% if dashboard_card.title and dashboard_card.title.text %}
            {{ OnPressStart(dashboard_card.title) }}
            <h5 class="card-title text-primary {{ dashboard_card.title.classes }}"
                style="width: {{ dashboard_card.title.width }}; {{ dashboard_card.title.css }}">
                {{ dashboard_card.title.text }}
            </h5>
            {{ OnPressEnd(dashboard_card.title) }}
        {% endif %}

        {# Description #}
        {% if dashboard_card.description and dashboard_card.description.text %}
            {{ OnPressStart(dashboard_card.description) }}
            <div class="card-text text-muted small lh-sm mb-2 mr-auto ml-auto {{ dashboard_card.description.classes }}"
                 style="width: {{ dashboard_card.description.width }}; {{ dashboard_card.description.css }}">
                {{ dashboard_card.description.text }}
            </div>
            {{ OnPressEnd(dashboard_card.description) }}
        {% endif %}

        {# List #}
        {% if dashboard_card.list and dashboard_card.list.items %}
            <ul class="list-group mb-2 text-{{ dashboard_card.list.alignment }} {{ dashboard_card.list.classes }}">
                {% for item in dashboard_card.list.items %}
                    {{ OnPressStart(item,
                    css=item.get('css', ''),
                    classes='list-group-item list-group-item-action ' + item.get('classes', '')) }}
                    {{ Image(item['icon'], classes='align-middle') }}
                    <span class="align-middle ml-1">{{ item.name }}</span>
                    {{ OnPressEnd(item) }}
                {% endfor %}
            </ul>
        {% endif %}

        {# Data Sources #}
        {% if dashboard_card.data_sources and dashboard_card.data_sources.sources %}
            {{ OnPressStart(dashboard_card.data_sources) }}
            <div class="list-group mb-2 {{ dashboard_card.data_sources.collection.classes }}"
                 style="display: block; margin: 0 auto;
                        {{ dashboard_card.data_sources.collection.css }}">
                <div class="list-group-item {{ dashboard_card.data_sources.classes }}"
                     style="height: {{ dashboard_card.data_sources.height }};
                             width: {{ dashboard_card.data_sources.width }};
                             {{ dashboard_card.data_sources.css }}">
                    {% for ds in dashboard_card.data_sources.sources %}
                        <div class="data-source-container d-none" data-source="{{ ds }}"></div>
                    {% endfor %}
                </div>
                {% if not dashboard_card.data_sources.hide_reload %}
                    <div class="list-group-item">
                        <button type="button" style="min-height: 35px" class="reload-data-source btn btn-primary btn-sm btn-block">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                            </div>
                            <i class="reload-data-source-i material-icons-outlined align-middle">refresh</i>
                        </button>
                    </div>
                {% endif %}
            </div>
            {{ OnPressEnd(dashboard_card.data_sources) }}
        {% endif %}

        {# Markdown Content #}
        {% if dashboard_card.content.markdown %}
            <div class="list-group mb-2 text-{{ dashboard_card.content.alignment }}">
                <div class="list-group-item md-container">
                    {{ dashboard_card.content.markdown }}
                </div>
            </div>
        {% endif %}

        {# HTML Content #}
        {% if dashboard_card.content.html %}
            <div class="list-group mb-2 text-{{ dashboard_card.content.alignment }}">
                <div class="list-group-item md-container">
                    {{ dashboard_card.content.html }}
                </div>
            </div>
        {% endif %}
    </div>

    {# Actions #}
    {% if dashboard_card.actionbar and dashboard_card.actionbar.actions %}
        <div class="card-footer text-right {{ dashboard_card.actionbar.classes }}"
             style="{{ dashboard_card.actionbar.css }}">
            {% for action in dashboard_card.actionbar.actions %}
                {{ OnPressStart(action) }}
                {{ Image(action['icon'], classes="align-middle ml-2") }}
                {{ OnPressEnd(action) }}
            {% endfor %}
        </div>
    {% endif %}
    {{ OnPressEnd(dashboard_card) }}
{% endmacro %}

{% macro Image(image_dict, classes=None) %}
    {% if image_dict['type'] == 'image' %}
        <img height="{{ image_dict['height'] }}"
             style="{{ image_dict.get('css', '') }}"
             class="{{ classes }} {{ image_dict.get('classes', '') }}"
             src="{{ image_dict['src'] }}">
    {% elif image_dict['type'] == 'material-icon' %}
        <i class="material-icons-outlined {{ classes }} {{ image_dict['classes'] }}"
           style="font-size: {{ image_dict['height'] }}; {{ image_dict.get('css', '') }}">
            {{ image_dict['src'] }}
        </i>
    {% endif %}
{% endmacro %}

{% macro OnPressStart(obj, classes='', css='') %}
    {% if obj.onpress %}
        {% if obj.onpress.get('href', None) -%}
            {% if obj.onpress['target'] == 'dashboard' %}
                {% set href = obj.onpress['href'] %}
                <a href="javascript:void(0)"
                   style="{{ css }}"
                   class="text-decoration-none {{ classes }}"
                   onclick="changeDashboard('{{ href }}');">
            {% elif obj.onpress['target'] == 'iframe' %}
                {% set href = obj.onpress['href'] %}
                <a href="javascript:void(0)"
                   class="text-decoration-none {{ classes }}"
                   style="{{ css }}"
                   onclick="openIframe('{{ href }}');">
            {% else %}
                <a class="text-decoration-none {{ classes }}"
                   style="{{ css }}"
                   href="{{ obj.onpress['href'] }}"
                        {% if obj.onpress['target'] == 'new_tab' %}
                   target="_blank"
                        {% endif %}>
            {% endif %}
        {%- endif %}
    {% endif %}
{% endmacro %}
{% macro OnPressEnd(obj) %}
    {% if obj.onpress %}
        {% if obj.onpress.get('href', None) -%}
            </a>
        {%- endif %}
    {% endif %}
{% endmacro %}