{% extends "global/base.html" %}
{% from 'global/global_macros.html' import Button %}

{% block page_lvl_css %}
    {{ process_local_css_sources(src="main/main.css") }}
{% endblock page_lvl_css %}

{% block content %}
    <div class="row card-filter-container">
        <div class="col s12 m12 l6 xl4 input-field">
            <span>
                <i class="material-icons prefix card-search-icon">last_page</i>
                <input id="card-filter"
                       type="text"
                       class="card-filter action-bar theme-surface-transparent"
                       placeholder="..." autofocus>
            </span>
        </div>
    </div>

    <div id="grid-container">
        <div id="grid"></div>
    </div>
    <div style="height: 1rem"></div>

    <div id="iframe-viewer" class="modal bottom-sheet">
        <span id="iframe-viewer-bar">
            <i class="material-icons-outlined icon-btn modal-close iframe-close">close</i>
            <i class="material-icons-outlined icon-btn modal-close iframe-min">expand_more</i>
            <span class="iframe-viewer-title"></span>
            <a class="iframe-open-in-new" target="_blank">
                <i class="material-icons-outlined right icon-btn">launch</i>
            </a>
        </span>

        <iframe id="iframe-viewer-iframe" src=""></iframe>
    </div>

    <div id="iframe-minimized" class="z-depth-2 hide">
        <i class="material-icons-outlined icon-btn modal-close iframe-close">close</i>
        <i class="material-icons-outlined icon-btn modal-close iframe-restore">expand_less</i>
        <span class="iframe-viewer-title"></span>
        <a class="iframe-open-in-new" target="_blank">
            <i class="material-icons-outlined right icon-btn">launch</i>
        </a>
    </div>
    
    <div id="error-message-modal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="row center-align">
                <i class="material-icons-outlined large theme-failure-text">warning</i>
                <div id="error-message-title" class="center-align"></div>
            </div>
            <div class="row">
                <div id="error-message-content-col" class="col s12">
                    <code id="error-message-content"></code>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{ Button(
            float="",
            href="javascript:window.location.href=window.location.href",
            icon="refresh",
            text="reload"
            ) }}
            {{ Button(
            float="",
            href="#",
            icon="edit",
            text="open editor"
            ) }}
        </div>
    </div>
{% endblock content %}

{% block page_lvl_js %}
    <script>
    let dashboardName = "{{ dashboard_name }}"
    const loadGridUrl = "{{ url_for('main.load_grid') }}";
    const loadDataSourceUrl = "{{ url_for('main.load_data_source') }}"

    let autocompleteDashboards = {
        {% for dboard_name, dashboard in dm.dashboards.items() %}
            ":d {{ dboard_name }}": null,
        {% endfor %}
    }
    let autocompleteTags = {}

    let autocompleteQueryProviders = {
    {% for query_provider in dm.query_providers %}
        "?{{ query_provider['prefix'] }} [{{ query_provider['name'] }}]": null,
    {% endfor %}
    }
    let queryProviderUrls = {
        {% for query_provider in dm.query_providers %}
            "{{ query_provider['prefix'] }}": '{{ query_provider["url"] }}',
        {% endfor %}
    }
    </script>

    {{ process_local_js_sources(src="main/main.js") }}
{% endblock page_lvl_js %}