{% extends "global/base.html" %}

{% block page_lvl_css %}
    {{ process_local_css_sources(src="main/markdown_style.css") }}
    {{ process_local_css_sources(src="main/main.css") }}
{% endblock page_lvl_css %}

{% block content %}
    {% if current_user.is_authenticated and not current_user.command_bar_visible %}
        {% set command_bar_visible = False %}
    {% elif not current_user.is_authenticated and not dm.settings.public_command_bar_visible %}
        {% set command_bar_visible = False %}
    {% else %}
        {% set command_bar_visible = True %}
    {% endif %}

    {% if dm.settings.editor_url %}
        {% set editor_enabled = True %}
        <script>
            const editorEnabled = true;
            const editorUrl = '{{ dm.settings.editor_url }}';
        </script>
    {% else %}
        {% set editor_enabled = False %}
        <script>const editorEnabled = false;</script>
    {% endif %}

    <div class="container-fluid fixed-top">
        <div class="row mt-2">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="input-group mb-3 shadow-sm
                    {% if not command_bar_visible %}d-none{% endif %}
                    ">
                    <span class="input-group-text" id="commandBarLeadingIcon">
                        <i class="material-icons text-on-primary">last_page</i>
                    </span>
                    <input id="commandBarInput"
                           list="noDatalist"
                           type="text"
                           class="form-control"
                           placeholder="..."
                           aria-label="Command"
                           aria-describedby="commandBarLeadingIcon" autofocus>

                    <datalist id="noDatalist"></datalist>

                    <datalist id="queryProvidersDatalist">
                        {% for query_provider in dm.query_providers %}
                            <option value="?{{ query_provider['prefix'] }} ">
                        {% endfor %}
                    </datalist>

                    <datalist id="dashboardsDatalist">
                        {% for dboard_name, dashboard in dm.dashboards.items() %}
                            <option value=":d {{ dboard_name }}">
                        {% endfor %}
                    </datalist>

                    <button type="button" class="btn bg-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false">
                        <span class="sr-only text-on-secondary">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><h6 class="dropdown-header">Commands</h6></li>

                        <li><a class="dropdown-item"
                               onclick="setCommandBarText(':d ')"
                               href="javascript:void(0);">
                            Change Dashboard | <kbd>:d [Dashboard Name]</kbd></a></li>

                        <li><a class="dropdown-item"
                               onclick="setCommandBarText(':t ')"
                               href="javascript:void(0);">
                            Set Tag | <kbd>:t [Tag Name]</kbd></a></li>

                        {% if editor_enabled %}
                            <li><a class="dropdown-item" href="javascript:void(0);" onclick="openIframe(editorUrl)">Open Editor | <kbd>:e</kbd></a></li>
                        {% endif %}

                        <li><a class="dropdown-item"
                               onclick="showLogs()"
                               href="javascript:void(0);">
                            Show Logs | <kbd>:l</kbd></a></li>

                        <li><a class="dropdown-item"
                               onclick="setCommandBarText(':x ')"
                               href="javascript:void(0);">
                            Change Theme | <kbd>:x [Theme Name]</kbd></a></li>

                        <li><a class="dropdown-item"
                               onclick="setCommandBarText(':m ')"
                               href="javascript:void(0);">
                            Modify Config | <kbd>:m [file.toml] [Table Name] [Key Name] [Value]</kbd>
                        </a></li>

                        <li><hr class="dropdown-divider"></li>
                        <li><h6 class="dropdown-header">Query Providers</h6></li>
                        {% for query_provider in dm.query_providers %}
                            <li><a class="dropdown-item"
                                   {% set t = query_provider['prefix']  %}
                                   onclick="setCommandBarText('?{{ t }} ')"
                                   href="javascript:void(0);">
                                Search {{ query_provider['name'] }} | <kbd>?{{ query_provider['prefix'] }} [search term]</kbd></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div style="height:{% if command_bar_visible %} 60px{% else %} 1rem{% endif %};"></div>

    <div id="grid-container" class="pr-2 pl-2">
        <div id="grid" class="row"></div>
    </div>
    <div style="height: 1rem"></div>
    <div class="modal fade" id="iframeModal" tabindex="-1" aria-labelledby="iframeModal" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header p-2">
                    <span class="badge rounded-pill bg-primary iframe-title">None</span>
                    <button type="button" class="close iframe-open-in-new" data-dismiss="modal" aria-label="Close" style="padding: .25rem 1rem; position: relative; top: .55rem;">
                        <span aria-hidden="true" style="font-size: 1.2rem">&#9715;</span>
                    </button>
                    <button id="minimizeIframe" type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left: 1rem; padding: .25rem 1rem; position: relative; top: .55rem;">
                        <span aria-hidden="true" style="font-size: 1rem">&#128469;</span>
                    </button>
                    <button type="button" class="close close-iframe" data-dismiss="modal" aria-label="Close" style="margin-left: 1rem; margin-right: .3rem; padding: .25rem 1rem;  position: relative; top: .55rem;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe id="iframe-viewer-iframe"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div id="iframeMinimized" class="card d-none shadow-lg" style="position: fixed; bottom: 1rem; left: 1rem">
        <div class="card-body p-1 d-flex flex-row align-items-center">
            <span class="iframe-title badge rounded-pill bg-primary ml-2 mt-2">None</span>
            <button type="button" class="iframe-open-in-new close ml-2 p-2">
                <span style="font-size: 1.2rem">&#9715;</span>
            </button>
            <button id="restoreIframe" type="button" class="close ml-2 p-2">
                <span style="font-size: 1.5rem; position: relative; top: .2rem">&#x25A0;</span>
            </button>
            <button type="button" class="close-iframe close ml-2 p-2">
                <span style="position: relative; top: .25rem">&times;</span>
            </button>
        </div>
    </div>

    <div class="modal fade" id="errorMessageModal" tabindex="-1" aria-labelledby="errorMessageModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="material-icons-outlined text-danger mr-2" style="font-size: 76px">error</i><br>
                    <h3 id="errorMessageTitle" class="modal-title text-danger m-auto">None</h3>
                </div>
                <div id="errorMessageBody" class="modal-body selectable">
                    None
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="location.reload()" class="btn btn-primary">Reload</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="logsModal" tabindex="-1" aria-labelledby="logsModal" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Logs</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="logsModalBody" class="modal-body">
                    <pre><code id="logsContent" class="selectable"></code></pre>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block page_lvl_js %}
    <script>
    let dashboardName = "{{ dashboard_name }}";
    let dashboardTag = "{{ tag }}";
    const loadGridUrl = "{{ url_for('main.load_grid') }}?";
    const loadDataSourceUrl = "{{ url_for('main.load_data_source') }}?";
    const getLogsUrl = "{{ url_for('main.get_logs') }}";
    const modifyTomlUrl = "{{ url_for('main.modify_toml') }}";
    const changeThemeUrl = "{{ url_for('main.change_theme') }}?";

    let appliedTags = [
        {% for tag in tags %}
            "{{ tag }}",
        {% endfor %}
    ];

    let queryProviderUrls = {
        {% for query_provider in dm.query_providers %}
            "{{ query_provider['prefix'] }}": '{{ query_provider["url"] }}',
        {% endfor %}
    }
    </script>

    {{ process_local_js_sources(src="main/utils.js") }}
    {{ process_local_js_sources(src="main/main.js") }}
{% endblock page_lvl_js %}